* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-board {
    margin: 0 auto;
    display: grid;
    background-color: #cfd6dd;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 33% 33% 34%;
    max-width: 300px;
}
.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.btn {
    cursor: grab;
}
